.akeyboard-keyboard {
    height: 260px;
    width: 750px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    padding-top: 9px;
    box-sizing: border-box;
}

.akeyboard-keyboard-innerKeys {
    text-align: center;
}

.akeyboard-keyboard-keys {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background: white;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.akeyboard-keyboard-keys:hover {
    background: #1E9FFF;
    color: white;
}

.akeyboard-keyboard-keys-Delete {
    width: 80px;
}

.akeyboard-keyboard-keys-Tab {
    width: 80px;
}

.akeyboard-keyboard-keys-Caps {
    width: 77px;
}

.akeyboard-keyboard-keys-Enter {
    width: 90px;
}

.akeyboard-keyboard-keys-Shift {
    width: 106px;
}

.akeyboard-keyboard-keys-Space {
    width: 350px;
}

.keyboard-keyboard-keys-focus {
    background: #1E9FFF;
    color: white;
}

.akeyboard-keyboard-fixedBottomCenter {
    width: 100% !important;
    position: fixed;
    bottom: 0px;
    left: 0px;
    border-radius: 0 !important;
}

/*
    number keyboard
 */
.akeyboard-numberKeyboard {
    height: 260px;
    width: 180px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}

.akeyboard-numberKeyboard-keys-Enter {
    height: 40px;
    width: 100px;
}

/*
    mobile keyboard
 */
.akeyboard-mobileKeyboard {
    height: 180px;
    width: 310px;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    padding-top: 11px;
    box-sizing: border-box;
}

.akeyboard-mobileKeyboard-keys {
    height: 25px;
    width: 19px;
    border-radius: 3px;
    background: white;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    box-sizing: border-box;
    margin: 2px;
    margin-top: 3px;
    cursor: pointer;
    user-select: none;
    font-size: 10px;
}

.akeyboard-mobileKeyboard-keys:hover {
    background: #1E9FFF !important;
    color: white;
}

.akeyboard-mobileKeyboard-keys-⇧ {
    width: 25px;
    background: rgba(153, 159, 175);
}

.akeyboard-mobileKeyboard-keys-⇦ {
    width: 25px;
    background: rgba(153, 159, 175);
}

.akeyboard-mobileKeyboard-keys-Space {
    height: 28px;
    width: 100px;
    line-height: 28px;
    margin-left: 55px;
}

.akeyboard-mobileKeyboard-keys-Enter {
    height: 28px;
    width: 55px;
    line-height: 28px;
    background: #1E9FFF !important;
    color: white;
}

.akeyboard-mobileKeyboard-keys-focus {
    background: #1E9FFF !important;
    color: white;
}
